{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2020",
    "paths": {
      "@routes/*": ["./src/routes/*"],
      "@middlewares/*": ["./src/middlewares/*"],
      "@controllers/*": ["./src/controllers/*"],
      "@utils/*": ["./src/utils/*"],
      "@db/*": ["./src/db/*"],
      "@custom-types/*": ["./src/types/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}